wsdl/accounts.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="Accounts" targetNamespace="http://example.com/accounts.wsdl" 
    xmlns:tns="http://example.com/accounts.wsdl" 
    xmlns:xsd1="http://example.com/accounts.xsd" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/accounts.xsd" 
            xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
            <xsd:element name="AccountsRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="tickerSymbol" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TradePrice">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="price" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TradePriceSubmit">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="tickerSymbol" type="xsd:string"/>
                        <xsd:element name="price" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="valid" type="xsd:boolean"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetLastTradePriceInput">
        <wsdl:part name="body" element="xsd1:AccountsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLastTradePriceOutput">
        <wsdl:part name="body" element="xsd1:TradePrice"/>
    </wsdl:message>
    <wsdl:message name="SetTradePriceInput">
        <wsdl:part name="body" element="xsd1:TradePriceSubmit"/>
    </wsdl:message>
    <wsdl:message name="IsValidPriceInput">
        <wsdl:part name="body" element="xsd1:TradePrice"/>
    </wsdl:message>
    <wsdl:message name="IsValidPriceOutput">
        <wsdl:part name="body" element="xsd1:valid"/>
    </wsdl:message>
    <wsdl:portType name="AccountsPortType">
        <wsdl:operation name="GetAccountsList">
            <wsdl:input message="tns:GetLastTradePriceInput"/>
            <wsdl:output message="tns:GetLastTradePriceOutput"/>
        </wsdl:operation>
        <wsdl:operation name="SetTradePrice">
            <wsdl:input message="tns:SetTradePriceInput"/>
        </wsdl:operation>
        <wsdl:operation name="IsValidPrice">
            <wsdl:input message="tns:IsValidPriceInput"/>
            <wsdl:output message="tns:IsValidPriceOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountsSoapBinding" type="tns:AccountsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAccountsList">
            <soap:operation soapAction="http://example.com/GetLastTradePrice"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountsService">
        <wsdl:port name="AccountsPort" binding="tns:AccountsSoapBinding">
            <soap:address location="http://localhost:5089/accountsList"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>